<article class="w-full h-full p-10 ">
    <h2 class="bg-[#E60012] w-40 text-center text-white font-bold text-2xl px-4 py-1">Noticias</h2>
    <section class="grid grid-cols-12 gap-4 mt-4">

        <!-- Column -->
        <div class="col-span-12 md:col-span-6 lg:col-span-3">
            <img src="images/note1.jpg" alt="note1">
             <p class="p-2 font-bold">Es el mejor accesorio para el mando de Xbox Series X|S  y ahora sale...</p>
        </div>
        
        <!-- Column -->
        <div class="col-span-12 md:col-span-6 lg:col-span-3">
            
        <img src="images/note2.jpg" alt="note2">
        <p class="p-2 font-bold">Las mejores ofertas digitales para Xbox de las...</p>
        
        </div>
        <!-- Column -->
        <div class="col-span-12 md:col-span-6 lg:col-span-3">
        <img src="images/note3.webp" alt="note3">
        <p class="p-2 font-bold">Deals With Gold Xbox - Todas las ofertas con...</p>
            
        </div>
        
        <!-- Column -->
        <div class="col-span-12 md:col-span-6 lg:col-span-3">
        <img src="images/note4.jpg" alt="note4">
        <p class="p-2 font-bold">Deals With Gold Xbox - Todas las ofertas con...</p>
            
        </div>
       
    </section>
</article>
  
  
  
    <!-- <section class="flex gap-2">
    <div class="mt-2 bg-white w-[100px]">
        <div class="card ">
            <img src="images/note1.jpg" alt="note1">
        </div>
        
    </div>
    <div class="bg-white">
        <img src="images/note2.jpg" alt="note2">
    </div>
    <div class="bg-white">
        <img src="images/note3.webp" alt="note3">
    </div>
    <div class="bg-white">
        <img src="images/note4.jpg" alt="note4">
    </div>
    <div class="bg-white">
        <img src="images/note5.jpg" alt="note5">
    </div>
  </section> -->
