<header class="flex flex-col items-center justify-center w-full h-full mt-10 sm:flex-row sm:justify-between sm:p-8">
    <div class="flex justify-center w-full">
        <img src="images/game.png" alt="logo" >
    </div>
    <div class="mt-8 text-center w-[330px] sm:w-full  text-purple-400">
        <p class="text-xl font-bold lg:w-[500px] lg:text-4xl"><span class="text-[#DB9E14]">Explora</span>  un universo de aventuras virtuales en <span class="text-white">Game Planet:</span> Tu destino para <span class="text-[#DB9E14]">descubrir</span>, <span class="text-[#DB9E14]">jugar</span> y <span class="text-[#DB9E14]">conquistar.</span></p>
    </div>
</header>



