<header class="bg-black h-[500px] flex flex-col items-center justify-between md:flex-row w-full gap-1 py-8">
  <section class=" h-full w-full  md:h-full relative">
    <img src="images/zelda.jpg" alt="noticia-1" class="h-full w-full opacity-60">
    <p class="absolute bottom-0 p-5 text-2xl text-white font-bold">Zelda: Tears of the Kingdom se lleva premio en los Game Awards 2023...</p>
  </section>

  <section class="bg-black h-full flex flex-col justify-between w-full gap-1">
   
     <div class=" h-full w-full md:h-full relative">
      <img src="images/halo.jpg" alt="noticia-2" class="h-full opacity-70">
      <p class="absolute bottom-0 p-4 text-xl text-white font-bold">Halo Infinite ya no es tan Infinite tras confirmar el fin de su modelo de temporadas...</p>
     </div>
    
     <div class="bg-black flex  h-full justify-center  md:h-full gap-1">
      <div class=" w-full relative">
        <img src="images/alanwake.jpg" alt="noticia-4" class="h-full w-full opacity-70">
        <p class="absolute bottom-0 p-3 text-white font-bold">Alan Wake 2 recibe un selector de capítulos que mejora la experiencia de juego</p>
      </div>
      <div class=" w-full relative">
        <img src="images/mario.jpeg" alt="" class="h-full w-full opacity-70">
        <p class="absolute bottom-0 p-3 text-white font-bold">La Nintendo Switch ha redefinido el concepto de entretenimiento interactivo</p>
      </div>
     
     </div>
     
  </section>
</header>
