<nav class="flex justify-center w-full h-20 p-4 mt-8 font-bold sm:mt-2 sm:p-4"> 
	
	<ul class="flex flex-wrap items-center justify-center gap-8 text-xl sm:text-xl sm:gap-8">
		<li class=" hover:text-purple-700"><a href="">Home</a></li>
		<li class=" hover:text-purple-700"><a href="">Game zone</a></li>
		<li class=" hover:text-purple-700"><a href="">Consoles</a></li>
		<li class=" hover:text-purple-700"><a href="">About</a></li>
		<li class=" hover:text-purple-700"><a href="">Contact</a></li>
	</ul>
</nav>